.contenedor0{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    height: 900px;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 5px solid black;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 5px solid black;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.form-group{
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 5px solid black;
}